<a href="https://colab.research.google.com/github/Septianadaw/Septianaweek3/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Python is powerful')

Python is powerful

In [ ]:
print('Good Morning!')
print('It is rainy today')

Good Morning!
It is rainy today

In [ ]:
# print with end whitespace
#print('Good Morning!', end= ' ')

print('Good Morning!', ' ')
print('It is rainy today')

Good Morning!
It is rainy today

In [ ]:
# print with end whitespace
#print('Good Morning!', end= ' ')

print('Good Morning!', end = ' ')

print('It is rainy today')

Good Morning! It is rainy today

In [ ]:
print('New Year', 2023, 'See you soon!', sep= '. ')

New Year. 2023. See you soon!

In [ ]:
number = -10.6

name = "Teknologi Informasi"

# print literals
print(5)

# print variables
print(number)
print(name)

5
-10.6
Teknologi Informasi

In [ ]:
print('Teknologi Informasi ' + 'Universitas Tidar')

Teknologi Informasi Universitas Tidar

In [ ]:
x = 5
y = 10

print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [ ]:
# using input() to take user input
num = input('Enter a number: ')

print('You Entered:', num)

print('Data type of num:', type(num))

Enter a number: 45
You Entered: 45
Data type of num: <class 'str'>

In [ ]:
!pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9656 sha256=167138f781c31a4764ccc98c1a18e7b988d24a976df617b2597f8d155fa0856d
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
# Download Example file
!mkdir -p /resources/data
!wget -O /resources/data/Example1.txt https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt

--2024-09-06 09:19:02--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/labs/example1.txt
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45 [text/plain]
Saving to: ‘/resources/data/Example1.txt’

/resources/data/Exa 100%[===================>]      45  --.-KB/s    in 0s

2024-09-06 09:19:02 (20.1 MB/s) - ‘/resources/data/Example1.txt’ saved [45/45]

In [ ]:
# Read the Example1.txt

example1 = "/resources/data/Example1.txt"
file1 = open(example1, "r")

In [ ]:
# Print the path of file

file1.name

'/resources/data/Example1.txt'

In [ ]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [ ]:
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Type of file content

type(FileContent)

str

In [ ]:
# Close file after finish

file1.close()

In [ ]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Verify if the file is closed

file1.closed

True

In [ ]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [ ]:
# Read first four characters

with open(example1, "r") as file1:
     print(file1.read(4))

This

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [ ]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [ ]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1;

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [ ]:
# Read all lines and save as a list

with open(example1, "r") as file1:
     FileasList = file1.readlines()

In [ ]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [ ]:
# Print the second line

FileasList[1]

'This is line 2\n'

In [ ]:
# Print the third line

FileasList[2]

'This is line 3'

In [ ]:
!mkdir -p /resources/data

In [ ]:
# Write line to file

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A")

In [ ]:
# Read file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [ ]:
# Write lines to file

with open('/resources/data/Example2.txt', 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [ ]:
# Check whether write to file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [ ]:
# Write a new line to text file

with open('/resources/data/Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")

In [ ]:
# Verify if the new line is in the text file

with open('/resources/data/Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [ ]:
# Verify if writing to file is succesfully execute

with open('Example2.txt', 'r') as testwritefile:
     print(testwritefile.read())

This is line A
This is line B
This is line C

In [ ]:
# Append the line to the file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line D\n")

In [ ]:
# Verify if the appending is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

In [ ]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
               writefile.write(line)

In [ ]:
# verify if the copy is successfully execuse

with open('Example3.txt','r') as testwritefile:
     print(testwritefile.read())

This is line A
This is line B
This is line C
This is line D

In [ ]:
# Weekly Exercise 1

# Membuat file.txt berisi Biodata : Nama, Program Studi, NPM, Alamat, Hobi, dam Email

# Membuat Script
with open('septiana.txt', 'w') as writefile:
        writefile.write("Nama          = Septiana Diyah Ayu Wulandari \n")
        writefile.write("Program Studi = Teknologi Informasi \n")
        writefile.write("NPM           = 2410506013 \n")
        writefile.write("Alamat        = Glendongan, Pomah, Tulung, Klaten \n")
        writefile.write("Hobi          = Traveling \n")
        writefile.write("Email         = septianadaw460@gmail.com \n")

with open('septiana.txt', 'r') as testwritefile:
    print(testwritefile.read())

Nama          = Septiana Diyah Ayu Wulandari
Program Studi = Teknologi Informasi
NPM           = 2410506013
Alamat        = Glendongan, Pomah, Tulung, Klaten
Hobi          = Traveling
Email         = septianadaw460@gmail.com

In [ ]:
# Script untuk menampilkan menampilkan nama, program studi, dan email

with open('septiana.txt', 'r') as file1:
    FileasList = file1.readlines()
    print(FileasList[0])
    print(FileasList[1])
    print(FileasList[5])

Nama          = Septiana Diyah Ayu Wulandari

Program Studi = Teknologi Informasi

Email         = septianadaw460@gmail.com

In [ ]:
# script untuk mengambil data nama, NPM, program studi dan alamat
# menyimpan dalam bentuk file txt yang baru

with open('septiana.txt','r') as readfile:
    with open('wulan.txt','w') as writefile:
          for line in readfile:
            if 'Nama' in line :
              writefile.write(line)
            if 'NPM' in line :
              writefile.write(line)
            if 'Program Studi' in line :
              writefile.write(line)
            if 'Alamat' in line :
              writefile.write(line)

with open('wulan.txt', 'r') as testwritefile:
    print(testwritefile.read())

Nama          = Septiana Diyah Ayu Wulandari
Program Studi = Teknologi Informasi
NPM           = 2410506013
Alamat        = Glendongan, Pomah, Tulung, Klaten

In [ ]:
# Weekly Exercise 2

print ("Selamat datang di Toko Maju Jaya")
print ("Senin, 4 September 2023 13.05")
print(" ")

# Mendefinisikan nama barang dan harga dalam format yang konsisten
print ("DAFTAR BELANJA:")
item1 = "Sabun"
item2 = "Shampo"
item3 = "Mie instant"
item4 = "Detergen"
harga1 = 10000
harga2 = 15000
harga3 = 5000
harga4 = 17500

# Menghitung Total
total = harga1+harga2+harga3+harga4

# Menampilkan Harga
print(f"item1 = Rp {harga1}")
print(f"item2 = Rp {harga2}")
print(f"item3 = Rp {harga3}")
print(f"item4 = Rp {harga4}")

# Menampilkan Total
print(" ")
print(f"Total = Rp {total}")

with open('Kuitansi.txt', 'w') as writefile:
        writefile.write("Selamat Datang di Toko Maju Jaya\n")
        writefile.write(" \n")
        writefile.write("Kuitansi - 4 September 2023\n")
        writefile.write(" \n")
        writefile.write(f"item1 = Rp {harga1} \n")
        writefile.write(f"item2 = Rp {harga2} \n")
        writefile.write(f"item3 = Rp {harga3} \n")
        writefile.write(f"item4 = Rp {harga4} \n")
        writefile.write(" \n")
        writefile.write(f"Total Belanja = {total} \n")

Selamat datang di Toko Maju Jaya
Senin, 4 September 2023 13.05

DAFTAR BELANJA:
item1 = Rp 10000
item2 = Rp 15000
item3 = Rp 5000
item4 = Rp 17500

Total = Rp 47500